body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: whitesmoke;
  border-radius: 20px;
  box-shadow: 0 4px 10px ;
  text-align: center;
  padding: 40px 50px;
  max-width: 500px;
  transition: all 0.3s ;
}

.container:hover {
  transform: translateY(-5px);
}

.hobbies {
  padding: 0;
  margin:25px;
}

.hobbies li {
  list-style: none;
  margin: 8px auto;
  padding: 5px;
  border-radius: 10px;
  width: 30%;
  transition: background-color 0.8s;
}

.hobbies li:hover {
  background-color: #97c2ea;
  cursor: pointer;
}

.button {
  background-color: #0077b6;
  color: white;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  display: inline-block;
  transition: all 0.5s;
}

.button:hover {
  background-color: #005f8d;
}

